
  /* Basic styling for sidebar */
.sidebar {
  height: 80%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f2f2f2;
  padding-top: 20px;
  margin-top: 7vh;
}

/* Style for sidebar links */
.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #333;
  display: block;
}

/* Style for active link */
.sidebar a.active {
  background-color: #ddd;
}

/* Hover effect for links */
.sidebar a:hover {
  background-color: #ddd;
}

